openapi: 3.2.0
info:
  title: WeFitter Token API
  description: This is the WeFitter API
  termsOfService: https://www.wefitter.com/privacy/
  contact:
    email: hello@wefitter.com
  license:
    name: BSD License
  version: v1.3
servers:
- url: https://api.wefitter.com/api/v1.3
security:
- BearerProfile: []
tags:
- name: Token
  description: 'Before any calls can be made to wefitter, BasicAuth is needed to verify the identity of the requesting party.

    This call will result into a Bearer token which has administrator privileges and is valid for 1 day.

    This token can be used to create profiles, challenges, etc.


    The returned bearer is a JWT (JSON Web Token).'
paths:
  /token/:
    parameters: []
    post:
      operationId: token_create
      summary: Create Token
      description: 'In order to create a token, perform a POST request to this endpoint, example:


        Application ID123


        Application SecretABC


        Authorization header formatAuthorization: base64(app_id:app_secret)


        Expected resultAuthorization: MTIzOkFCQw==


        For testing purposes, a CURL can be used:


        curl -X POST -H "Authorization: Basic MTIzOkFCQw==" https://api.wefitter.com/api/v1.3/token/

        # alternatively

        curl -X POST --user 123:ABC https://api.wefitter.com/api/v1.3/token/


        The response to a successful request should look like this:


        {

        "bearer": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOiIxNTY2NTYxMzk2IiwiaWF0IjoxNTE2MjM5MDIyfQ.14x12h5VMJjAV2kFB5cCrfFmZhryBAYGk9N-vhyDl00"

        }'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
      tags:
      - Token
      security:
      - Basic: []
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Token'
        required: true
components:
  schemas:
    Token:
      type: object
      properties:
        bearer:
          title: Bearer
          type: string
          readOnly: true
          minLength: 1
  securitySchemes:
    Basic:
      type: http
      scheme: basic
      description: 'Basic Authentication is used to create administrator bearer tokens.


        Once a bearer token has been made, remove this auth. (''logout'' in Swagger'')'
    BearerProfile:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer authentication for logged-in profiles.


        When using the GUI, please don''t forget to prefix your bearer tokens with the text ''bearer'', followed by a space.'
    BearerAdmin:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer authentication for administrators.


        When using the GUI, please don''t forget to prefix your bearer tokens with the text ''bearer'', followed by a space.'
