openapi: 3.2.0
info:
  title: WeFitter Connection API
  description: This is the WeFitter API
  termsOfService: https://www.wefitter.com/privacy/
  contact:
    email: hello@wefitter.com
  license:
    name: BSD License
  version: v1.3
servers:
- url: https://api.wefitter.com/api/v1.3
security:
- BearerProfile: []
tags:
- name: Connection
  description: Connections are the links between profiles and their wearables.
paths:
  /connection/{connection_slug}/connect/:
    parameters:
    - name: connection_slug
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: connection_connect_create
      summary: Connect wearable
      description: Get OAuth URL for this connection.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConnectionUrl'
      tags:
      - Connection
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileAsProfilePublicId'
        required: true
    delete:
      operationId: connection_connect_delete
      summary: Disconnect Wearable
      description: Disconnect a wearables connection
      parameters:
      - name: profile
        in: query
        description: A profile public_id is expected
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
      tags:
      - Connection
      deprecated: false
components:
  schemas:
    AppConnectionUrl:
      required:
      - next
      type: object
      properties:
        next:
          title: Next
          type: string
          format: uri
          minLength: 1
    ProfileAsProfilePublicId:
      required:
      - profile
      type: object
      properties:
        profile:
          title: Profile
          description: A profile public_id is expected
          type: string
          format: uuid
        joined:
          title: Joined
          description: The timestamp when the profile/team joined the challenge.
          type: string
          format: date-time
  securitySchemes:
    Basic:
      type: http
      scheme: basic
      description: 'Basic Authentication is used to create administrator bearer tokens.


        Once a bearer token has been made, remove this auth. (''logout'' in Swagger'')'
    BearerProfile:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer authentication for logged-in profiles.


        When using the GUI, please don''t forget to prefix your bearer tokens with the text ''bearer'', followed by a space.'
    BearerAdmin:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer authentication for administrators.


        When using the GUI, please don''t forget to prefix your bearer tokens with the text ''bearer'', followed by a space.'
