openapi: 3.2.0
info:
  title: WeFitter Team API
  description: This is the WeFitter API
  termsOfService: https://www.wefitter.com/privacy/
  contact:
    email: hello@wefitter.com
  license:
    name: BSD License
  version: v1.3
servers:
- url: https://api.wefitter.com/api/v1.3
security:
- BearerProfile: []
tags:
- name: Team
paths:
  /team/:
    parameters: []
    get:
      operationId: team_list
      summary: List Teams
      description: List all available teams
      parameters:
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/TeamList'
      tags:
      - Team
      security:
      - BearerAdmin: []
      - BearerProfile: []
      deprecated: false
    post:
      operationId: team_create
      summary: Create Team
      description: Creates a new team
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamDetail'
      tags:
      - Team
      security:
      - BearerAdmin: []
      - BearerProfile: []
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamDetail'
        required: true
  /team/{public_id}/:
    parameters:
    - name: public_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: team_read
      summary: Team
      description: Get a single team
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamDetail'
      tags:
      - Team
      security:
      - BearerAdmin: []
      - BearerProfile: []
      deprecated: false
    put:
      operationId: team_update
      summary: Edit Team
      description: Creates a new team
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamDetail'
      tags:
      - Team
      security:
      - BearerAdmin: []
      - BearerProfile: []
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamDetail'
        required: true
    patch:
      operationId: team_partial_update
      summary: Partial Edit a Team
      description: Creates a new team
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamDetail'
      tags:
      - Team
      security:
      - BearerAdmin: []
      - BearerProfile: []
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamDetail'
        required: true
    delete:
      operationId: team_delete
      summary: Deletes a Team
      description: Deletes an existing team
      responses:
        '204':
          description: ''
      tags:
      - Team
      security:
      - BearerAdmin: []
      - BearerProfile: []
      deprecated: false
  /team/{public_id}/member/:
    parameters:
    - name: public_id
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: team_member_create
      summary: Add member
      description: Add member to a team
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileAsProfilePublicId'
      tags:
      - Team
      security:
      - BearerAdmin: []
      - BearerProfile: []
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileAsProfilePublicId'
        required: true
    put:
      operationId: team_member_update
      summary: Add member
      description: Add member to a team
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileAsProfilePublicId'
      tags:
      - Team
      security:
      - BearerAdmin: []
      - BearerProfile: []
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileAsProfilePublicId'
        required: true
    delete:
      operationId: team_member_delete
      summary: Remove member
      description: Remove a member from the team
      parameters:
      - name: profile
        in: query
        description: A profile public_id is expected
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: ''
      tags:
      - Team
      security:
      - BearerAdmin: []
      - BearerProfile: []
      deprecated: false
  /team/{public_id}/members/:
    parameters:
    - name: public_id
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: team_members_create
      summary: Add members
      description: Add members to a team
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilePublicIdsList'
      tags:
      - Team
      security:
      - BearerAdmin: []
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfilePublicIdsList'
        required: true
    put:
      operationId: team_members_update
      summary: Add members
      description: Add members to a team
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilePublicIdsList'
      tags:
      - Team
      security:
      - BearerAdmin: []
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfilePublicIdsList'
        required: true
  /team/{public_id}/remove_members/:
    parameters:
    - name: public_id
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: team_remove_members
      summary: Remove members
      description: Remove members from the team
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilePublicIdsList'
      tags:
      - Team
      security:
      - BearerAdmin: []
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfilePublicIdsList'
        required: true
components:
  schemas:
    ProfileAsProfilePublicId:
      required:
      - profile
      type: object
      properties:
        profile:
          title: Profile
          description: A profile public_id is expected
          type: string
          format: uuid
        joined:
          title: Joined
          description: The timestamp when the profile/team joined the challenge.
          type: string
          format: date-time
    TeamList:
      required:
      - name
      type: object
      properties:
        name:
          title: Name
          type: string
          maxLength: 100
          minLength: 1
        public_id:
          title: Public id
          type: string
          format: uuid
          readOnly: true
        url:
          title: Url
          type: string
          format: uri
          readOnly: true
        num_members:
          title: Num members
          type: string
          readOnly: true
        avatar:
          title: Avatar
          type:
          - string
          - 'null'
          format: uri
          minLength: 1
    TeamDetail:
      required:
      - name
      - description
      type: object
      properties:
        name:
          title: Name
          type: string
          maxLength: 100
          minLength: 1
        public_id:
          title: Public id
          type: string
          format: uuid
          readOnly: true
        url:
          title: Url
          type: string
          format: uri
          readOnly: true
        num_members:
          title: Num members
          type: string
          readOnly: true
        members:
          description: List of members in this team
          type: array
          items:
            $ref: '#/components/schemas/ProfileTeam'
          readOnly: true
        avatar:
          title: Avatar
          type:
          - string
          - 'null'
          format: uri
          minLength: 1
        description:
          title: Description
          type: string
          minLength: 1
    ProfilePublicIdsList:
      required:
      - profiles
      type: object
      properties:
        profiles:
          type: array
          items:
            type: string
            format: uuid
        is_active:
          title: Is active
          description: 'Whether profile actively participates in challenge.


            While inactive, scores/leaderboard will not be updated but still be visible.'
          type: boolean
        joined:
          title: Joined
          description: The timestamp when the profile/team joined the challenge.
          type: string
          format: date-time
    ProfileTeam:
      description: List of members in this team
      type: object
      properties:
        url:
          title: Url
          type: string
          format: uri
          readOnly: true
        public_id:
          title: Public id
          type: string
          format: uuid
          readOnly: true
        name:
          title: Name
          type: string
          readOnly: true
          minLength: 1
        reference:
          title: Reference
          type: string
          maxLength: 255
  securitySchemes:
    Basic:
      type: http
      scheme: basic
      description: 'Basic Authentication is used to create administrator bearer tokens.


        Once a bearer token has been made, remove this auth. (''logout'' in Swagger'')'
    BearerProfile:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer authentication for logged-in profiles.


        When using the GUI, please don''t forget to prefix your bearer tokens with the text ''bearer'', followed by a space.'
    BearerAdmin:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer authentication for administrators.


        When using the GUI, please don''t forget to prefix your bearer tokens with the text ''bearer'', followed by a space.'
