openapi: 3.2.0
info:
  title: WeFitter App API
  description: This is the WeFitter API
  termsOfService: https://www.wefitter.com/privacy/
  contact:
    email: hello@wefitter.com
  license:
    name: BSD License
  version: v1.3
servers:
- url: https://api.wefitter.com/api/v1.3
security:
- BearerProfile: []
tags:
- name: App
paths:
  /app/totals/:
    parameters: []
    get:
      operationId: app_totals_list
      summary: Totals
      description: Total values for calories, distance, steps, points and activity duration over all profiles in the app.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppTotals'
      tags:
      - App
      security:
      - BearerAdmin: []
      - BearerProfile: []
      deprecated: false
components:
  schemas:
    AppTotals:
      type: object
      properties:
        total_calories:
          title: Total calories
          type: number
        total_distance:
          title: Total distance
          type: number
        total_steps:
          title: Total steps
          type: number
        total_points:
          title: Total points
          type: number
        total_activity_duration:
          title: Total activity duration
          type: string <iso8601 duration>
          minLength: 1
  securitySchemes:
    Basic:
      type: http
      scheme: basic
      description: 'Basic Authentication is used to create administrator bearer tokens.


        Once a bearer token has been made, remove this auth. (''logout'' in Swagger'')'
    BearerProfile:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer authentication for logged-in profiles.


        When using the GUI, please don''t forget to prefix your bearer tokens with the text ''bearer'', followed by a space.'
    BearerAdmin:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer authentication for administrators.


        When using the GUI, please don''t forget to prefix your bearer tokens with the text ''bearer'', followed by a space.'
