{
  "swagger": "2.0",
  "info": {
    "title": "WeFitter API",
    "description": "This is the WeFitter API",
    "termsOfService": "https://www.wefitter.com/privacy/",
    "contact": {
      "email": "hello@wefitter.com"
    },
    "license": {
      "name": "BSD License"
    },
    "version": "v1.3"
  },
  "host": "api.wefitter.com",
  "schemes": [
    "https"
  ],
  "basePath": "/api/v1.3",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "Basic": {
      "type": "basic",
      "description": "Basic Authentication is used to create administrator bearer tokens.\n\nOnce a bearer token has been made, remove this auth. ('logout' in Swagger')"
    },
    "BearerProfile": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Bearer authentication for logged-in profiles.\n\nWhen using the GUI, please don't forget to prefix your bearer tokens with the text 'bearer', followed by a space."
    },
    "BearerAdmin": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Bearer authentication for administrators.\n\nWhen using the GUI, please don't forget to prefix your bearer tokens with the text 'bearer', followed by a space."
    }
  },
  "security": [
    {
      "BearerProfile": []
    }
  ],
  "paths": {
    "/app/totals/": {
      "get": {
        "operationId": "app_totals_list",
        "summary": "Totals",
        "description": "Total values for calories, distance, steps, points and activity duration over all profiles in the app.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AppTotals"
              }
            }
          }
        },
        "tags": [
          "app"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "parameters": []
    },
    "/challenge/": {
      "get": {
        "operationId": "challenge_list",
        "summary": "List Challenges",
        "description": "Lists all available challenges",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "recent",
            "in": "query",
            "description": "Show challenges that have not ended in the last N weeks",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ChallengeList"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "challenge"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "post": {
        "operationId": "challenge_create",
        "summary": "Create challenge",
        "description": "Creates a new challenge",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChallengeDetail"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ChallengeDetail"
            }
          }
        },
        "tags": [
          "challenge"
        ],
        "security": [
          {
            "BearerAdmin": []
          }
        ],
        "deprecated": false
      },
      "parameters": []
    },
    "/challenge/{challenge_public_id}/team/": {
      "get": {
        "operationId": "challenge_team_list",
        "summary": "Team leaderboard",
        "description": "List the standings of different teams in challenges (don't have to be team challenges).\nThis endpoint returns a list of objects.\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_range",
            "in": "query",
            "description": "Index of the time period use",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/LeaderboardTeam"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "challenge"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "challenge_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/challenge/{challenge_public_id}/team/{team_public_id}/": {
      "get": {
        "operationId": "challenge_team_read",
        "summary": "Team contribution",
        "description": "List team members' contribution to the challenge.\nThis endpoint returns a list of objects.\n",
        "parameters": [
          {
            "name": "date_range",
            "in": "query",
            "description": "Index of the time period use",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LeaderboardProfile"
            }
          }
        },
        "tags": [
          "challenge"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "challenge_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "team_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/challenge/{public_id}/": {
      "get": {
        "operationId": "challenge_read",
        "summary": "Get Challenge",
        "description": "Gets a single challenge",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ChallengeDetail"
            }
          }
        },
        "tags": [
          "challenge"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "put": {
        "operationId": "challenge_update",
        "summary": "Edit challenge",
        "description": "Edits a challenge",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChallengeDetail"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ChallengeDetail"
            }
          }
        },
        "tags": [
          "challenge"
        ],
        "security": [
          {
            "BearerAdmin": []
          }
        ],
        "deprecated": false
      },
      "patch": {
        "operationId": "challenge_partial_update",
        "summary": "Partial edit challenge",
        "description": "Edits a challenge",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChallengeDetail"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ChallengeDetail"
            }
          }
        },
        "tags": [
          "challenge"
        ],
        "security": [
          {
            "BearerAdmin": []
          }
        ],
        "deprecated": false
      },
      "delete": {
        "operationId": "challenge_delete",
        "summary": "Delete challenge",
        "description": "deletes a challenge",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "challenge"
        ],
        "security": [
          {
            "BearerAdmin": []
          }
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/challenge/{public_id}/deactivate_member/": {
      "post": {
        "operationId": "challenge_deactivate_member_create",
        "summary": "Deactivate member",
        "description": "Deactivate a member from the challenge",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfileAsProfilePublicIdAndTeamAsTeamPublicId"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "A profile public_id is expected",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "team",
            "in": "query",
            "description": "A team public_id is expected",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "Whether profile actively participates in challenge.\n\nWhile inactive, scores/leaderboard will not be updated but still be visible.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProfileAsProfilePublicIdAndTeamAsTeamPublicId"
            }
          }
        },
        "tags": [
          "challenge"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "put": {
        "operationId": "challenge_deactivate_member_update",
        "description": "This docstring is used by Django Rest Framework",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfileAsProfilePublicIdAndTeamAsTeamPublicId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProfileAsProfilePublicIdAndTeamAsTeamPublicId"
            }
          }
        },
        "tags": [
          "challenge"
        ]
      },
      "parameters": [
        {
          "name": "public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/challenge/{public_id}/deactivate_members/": {
      "post": {
        "operationId": "challenge_deactivate_members_create",
        "summary": "Deactivate members",
        "description": "Deactivate multiple members from the challenge",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfilePublicIdsListAndTeamAsPublicId"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "A profile public_id is expected",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "team",
            "in": "query",
            "description": "A team public_id is expected",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "Whether profile actively participates in challenge.\n\nWhile inactive, scores/leaderboard will not be updated but still be visible.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProfilePublicIdsListAndTeamAsPublicId"
            }
          }
        },
        "tags": [
          "challenge"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "put": {
        "operationId": "challenge_deactivate_members_update",
        "description": "This docstring is used by Django Rest Framework",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfilePublicIdsListAndTeamAsPublicId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProfilePublicIdsListAndTeamAsPublicId"
            }
          }
        },
        "tags": [
          "challenge"
        ]
      },
      "parameters": [
        {
          "name": "public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/challenge/{public_id}/leaderboard/": {
      "get": {
        "operationId": "challenge_leaderboard",
        "summary": "Leaderboard",
        "description": "Displays the leaderboard for a challenge.\nThis endpoint returns a list of objects.\n",
        "parameters": [
          {
            "name": "date_range",
            "in": "query",
            "description": "Index of the time period use",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LeaderboardProfileAndTeam"
            }
          }
        },
        "tags": [
          "challenge"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/challenge/{public_id}/leaderboard_history/": {
      "get": {
        "operationId": "challenge_leaderboard_history",
        "summary": "Leaderboard history",
        "description": "Retrieve the scores of the authenticated profile for all periods since the profile joined the challenge.\nThis endpoint returns a list of objects.\n",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LeaderboardHistory"
            }
          }
        },
        "tags": [
          "challenge"
        ],
        "security": [
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/challenge/{public_id}/member/": {
      "post": {
        "operationId": "challenge_member_create",
        "summary": "Add member",
        "description": "Add member to a team.\n\nNote: for now if the challenge is a team challenge and no team is specified, the first team for the specified profile is\nused. Do note that this is a temporary fix and may be removed at any time.\n",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfileAsProfilePublicIdAndTeamAsTeamPublicId"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProfileAsProfilePublicIdAndTeamAsTeamPublicId"
            }
          }
        },
        "tags": [
          "challenge"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "put": {
        "operationId": "challenge_member_update",
        "summary": "Add member",
        "description": "Add member to a team.\n\nNote: for now if the challenge is a team challenge and no team is specified, the first team for the specified profile is\nused. Do note that this is a temporary fix and may be removed at any time.\n",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfileAsProfilePublicIdAndTeamAsTeamPublicId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProfileAsProfilePublicIdAndTeamAsTeamPublicId"
            }
          }
        },
        "tags": [
          "challenge"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "delete": {
        "operationId": "challenge_member_delete",
        "summary": "Remove member",
        "description": "Remove a member from the challenge",
        "parameters": [
          {
            "name": "profile",
            "in": "query",
            "description": "A profile public_id is expected",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "challenge"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/challenge/{public_id}/members/": {
      "get": {
        "operationId": "challenge_members_read",
        "summary": "Get members",
        "description": "Get a paginated list of members enrolled to a Challenge",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ChallengeDetail"
            }
          }
        },
        "tags": [
          "challenge"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "post": {
        "operationId": "challenge_members_create",
        "summary": "Add members",
        "description": "Add members to a team.\n\nNote: for now if the challenge is a team challenge and no team is specified, the first team for the specified profile is\nused. Do note that this is a temporary fix and may be removed at any time.\n\nNote: for the GET/POST endpoint an admin bearer token is required, while the GET also accepts profile bearer tokens",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfilePublicIdsListAndTeamAsPublicId"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProfilePublicIdsListAndTeamAsPublicId"
            }
          }
        },
        "tags": [
          "challenge"
        ],
        "security": [
          {
            "BearerAdmin": []
          }
        ],
        "deprecated": false
      },
      "put": {
        "operationId": "challenge_members_update",
        "summary": "Add members",
        "description": "Add members to a team.\n\nNote: for now if the challenge is a team challenge and no team is specified, the first team for the specified profile is\nused. Do note that this is a temporary fix and may be removed at any time.\n\nNote: for the GET/POST endpoint an admin bearer token is required, while the GET also accepts profile bearer tokens",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfilePublicIdsListAndTeamAsPublicId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProfilePublicIdsListAndTeamAsPublicId"
            }
          }
        },
        "tags": [
          "challenge"
        ],
        "security": [
          {
            "BearerAdmin": []
          }
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/challenge/{public_id}/periods/": {
      "get": {
        "operationId": "challenge_periods",
        "summary": "Periods",
        "description": "Get all periods for the challenge.\nThis endpoint returns a list of objects.\n",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ChallengePeriod"
            }
          }
        },
        "tags": [
          "challenge"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/challenge/{public_id}/remove_members/": {
      "post": {
        "operationId": "challenge_remove_members",
        "summary": "Remove members",
        "description": "Remove members from the challenge",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfilePublicIdsListAndTeamAsPublicId"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProfilePublicIdsListAndTeamAsPublicId"
            }
          }
        },
        "tags": [
          "challenge"
        ],
        "security": [
          {
            "BearerAdmin": []
          }
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/connection/{connection_slug}/connect/": {
      "post": {
        "operationId": "connection_connect_create",
        "summary": "Connect wearable",
        "description": "Get OAuth URL for this connection.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfileAsProfilePublicId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppConnectionUrl"
            }
          }
        },
        "tags": [
          "connection"
        ],
        "deprecated": false
      },
      "delete": {
        "operationId": "connection_connect_delete",
        "summary": "Disconnect Wearable",
        "description": "Disconnect a wearables connection",
        "parameters": [
          {
            "name": "profile",
            "in": "query",
            "description": "A profile public_id is expected",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "connection"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "connection_slug",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/insights/bio_age": {
      "get": {
        "operationId": "insights_bio_age_read",
        "summary": "Get someones biological age on a weekly basis.",
        "description": "",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BioAge"
              }
            }
          }
        },
        "tags": [
          "insights"
        ]
      },
      "parameters": []
    },
    "/loyalty/get_recommended_products": {
      "get": {
        "operationId": "loyalty_get_recommended_products_list",
        "description": "",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/RecommendedProducts"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "loyalty"
        ]
      },
      "parameters": []
    },
    "/loyalty/get_shoppingcart_link": {
      "get": {
        "operationId": "loyalty_get_shoppingcart_link_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        },
        "tags": [
          "loyalty"
        ]
      },
      "parameters": []
    },
    "/notification/send_to_all/": {
      "post": {
        "operationId": "notification_send_to_all_create",
        "summary": "Notification to all profiles in app",
        "description": "Send a notification to all registered devices in the app.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Notification"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Notification"
            }
          }
        },
        "tags": [
          "notification"
        ],
        "security": [
          {
            "BearerAdmin": []
          }
        ],
        "deprecated": false
      },
      "parameters": []
    },
    "/notification/send_to_profiles/": {
      "post": {
        "operationId": "notification_send_to_profiles_create",
        "summary": "Notification to specific profiles",
        "description": "Send a notification to all registered devices for the specified profiles.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationForProfiles"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/NotificationForProfiles"
            }
          }
        },
        "tags": [
          "notification"
        ],
        "security": [
          {
            "BearerAdmin": []
          }
        ],
        "deprecated": false
      },
      "parameters": []
    },
    "/profile/": {
      "get": {
        "operationId": "profile_list",
        "summary": "List Profiles",
        "description": "Lists all available profiles",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ProfileList"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "post": {
        "operationId": "profile_create",
        "summary": "Create Profile",
        "description": "\nCreates a new profile.\nThe bearer field contains a profile bearer token. When this is used in the Authorization header actions are performed\nas that profile, which will also enable access to private data.\nUsing a profile bearer token disables administrative features such as creating profiles, making this token safe\nfor 'public' use.\nA profile bearer token has no expiration, so it remains valid as long as the profile is active.\n",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfileCreated"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProfileCreated"
            }
          }
        },
        "tags": [
          "profile"
        ],
        "security": [
          {
            "BearerAdmin": []
          }
        ],
        "deprecated": false
      },
      "parameters": []
    },
    "/profile/{profile_public_id}/activity_file/": {
      "get": {
        "operationId": "profile_activity_file_list",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "profile"
        ]
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/activity_file/{activity_id}": {
      "get": {
        "operationId": "profile_activity_file_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "profile"
        ]
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "activity_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/activity_segment/": {
      "get": {
        "operationId": "profile_activity_segment_list",
        "summary": "Activity segment",
        "description": "Lists segments of activities and small non-workout-like movements.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Activity"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/biometric/": {
      "get": {
        "operationId": "profile_biometric_list",
        "summary": "Bio Metric",
        "description": "Lists changes in weight, height and bmi for the profile.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BioMetric"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/biometric_measurement/": {
      "get": {
        "operationId": "profile_biometric_measurement_list",
        "summary": "Biometric Measurement",
        "description": "List changes in biometric measurements for the profile.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "measurement_type",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "BLOOD_PRESSURE",
              "BODY_FAT",
              "BODY_FAT_MASS",
              "GLUCOSE",
              "SYSTOLIC_BP",
              "DIASTOLIC_BP",
              "PULSE_BP",
              "TEMPERATURE",
              "BLOOD_OXYGEN",
              "HRV",
              "VO2_MAX",
              "METABOLIC_AGE",
              "VASCULAR_AGE",
              "VISCERAL_FAT",
              "BODY_TEMPERATURE",
              "SKIN_TEMPERATURE",
              "BONE_MASS",
              "MUSCLE_MASS",
              "HYDRATION",
              "BMR",
              "FAT_RATIO",
              "SPO2",
              "OTHER"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BiometricMeasurement"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/bmi/": {
      "get": {
        "operationId": "profile_bmi_list",
        "summary": "BMI",
        "description": "Presents the Body-Mass-Index over time.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BMI"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/daily_detail/": {
      "get": {
        "operationId": "profile_daily_detail_list",
        "summary": "Daily details",
        "description": "Intraday data measured at a single point in time.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DailyDetail"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/daily_summary/": {
      "get": {
        "operationId": "profile_daily_summary_list",
        "summary": "Daily Summary",
        "description": "Provides summarized data per day.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "deduplicate",
            "in": "query",
            "description": "If set to true, duplicates will be aggregated.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DailySummary"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/detail_sample/": {
      "get": {
        "operationId": "profile_detail_sample_list",
        "summary": "Detail Sample",
        "description": "Presents detail samples.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DetailSample"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/ecg_recordings/": {
      "get": {
        "operationId": "profile_ecg_recordings_list",
        "summary": "Electrocardiograms",
        "description": "\nThis endpoint returns a list of ECG recordings.\n",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ECGRecordings"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/ecg_recordings/data/": {
      "get": {
        "operationId": "profile_ecg_recordings_data_list",
        "summary": "Electrocardiogram data",
        "description": "\nThis endpoint returns an ECG recording with data as an array of tuples `[(time, value)]`.\nSet the argument `date_end` to request a specific recording or leave it empty to receive the latest recording.\n",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ECGRecording"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/ecg_recordings/pdf/": {
      "get": {
        "operationId": "profile_ecg_recordings_pdf_list",
        "summary": "Electrocardiogram PDF",
        "description": "Returns a PDF with generated ECG charts from a specific source and time. Contact api-support@wefitter.com to gain access.",
        "parameters": [
          {
            "name": "datetime",
            "in": "query",
            "description": "The timestamp when the ECG has been recorded in the format `yyyymmddhhmmss`. e.g. `20210913132513`",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "source",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "NONE",
              "AGGREGATED",
              "ANDROID",
              "APPLE",
              "FITBIT",
              "GARMIN",
              "GOOGLE_HEALTH",
              "GOOGLEFIT",
              "HEALTHCONNECT",
              "HUAWEI",
              "MYZONE",
              "OMH",
              "OMRON",
              "OURA",
              "POLAR",
              "SAMSUNG",
              "STRAVA",
              "SUUNTO",
              "WF",
              "WHOOP",
              "WITHINGS"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "profile"
        ],
        "security": [
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/event/": {
      "get": {
        "operationId": "profile_event_list",
        "summary": "Event",
        "description": "Lists events, generic actions for which points have been awarded.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "post": {
        "operationId": "profile_event_create",
        "summary": "Create Event",
        "description": "Create a new event for the profile.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Event"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Event"
            }
          }
        },
        "tags": [
          "profile"
        ],
        "security": [
          {
            "BearerAdmin": []
          }
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/heartrate_sample/": {
      "get": {
        "operationId": "profile_heartrate_sample_list",
        "summary": "Heart Rate Sample",
        "description": "Heart Rate measured at a single point in time.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "heart_rate_detail",
            "in": "query",
            "description": "If set to true it will add heart_rate_samples field",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/HeartRateSample"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/heartrate_summary/": {
      "get": {
        "operationId": "profile_heartrate_summary_list",
        "summary": "Heart Rate Summary",
        "description": "Presents heart rate information.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/HeartRateSummary"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/height/": {
      "get": {
        "operationId": "profile_height_list",
        "summary": "Height",
        "description": "Lists changes in height for the profile.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Height"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/sleep_detail/": {
      "get": {
        "operationId": "profile_sleep_detail_list",
        "summary": "Sleep detail",
        "description": "Provides sleep detail data.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SleepDetail"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/sleep_sample/": {
      "get": {
        "operationId": "profile_sleep_sample_list",
        "summary": "Sleep Sample",
        "description": "Presents sample data for sleep: hrv, movement, heart_rate and sleep_stages,",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SleepSample"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/sleep_summary/": {
      "get": {
        "operationId": "profile_sleep_summary_list",
        "summary": "Sleep Summary",
        "description": "Provides summarized sleep data.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "detail",
            "in": "query",
            "description": "If set to true and only 1 result is returned, it will add a detail field",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SleepSummary"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/stress_samples/": {
      "get": {
        "operationId": "profile_stress_samples_list",
        "summary": "Stress Sample",
        "description": "Presents stress samples.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StressSample"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/stress_summary/": {
      "get": {
        "operationId": "profile_stress_summary_list",
        "summary": "Stress Summary",
        "description": "Presents stress summaries.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StressSummary"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/track_sample/": {
      "get": {
        "operationId": "profile_track_sample_list",
        "summary": "Track Sample",
        "description": "Presents GPX track samples.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TrackSample"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/weight/": {
      "get": {
        "operationId": "profile_weight_list",
        "summary": "Weight",
        "description": "Lists changes in weight for the profile.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Weight"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{profile_public_id}/workout/": {
      "get": {
        "operationId": "profile_workout_list",
        "summary": "Workout",
        "description": "Lists workouts associated with the profile. Used to be known as Activity.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Lower bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Upper bound of date or timestamp.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "deduplicate",
            "in": "query",
            "description": "If set to true, duplicates will be aggregated.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "heart_rate_detail",
            "in": "query",
            "description": "If set to true and page_size is 1, it will add heart_rate_samples field",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Workout"
              }
            },
            "headers": {
              "api-results-next": {
                "description": "Next page.",
                "type": "string"
              },
              "api-results-previous": {
                "description": "Previous page.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "profile_public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{public_id}/": {
      "get": {
        "operationId": "profile_read",
        "summary": "Get Profile",
        "description": "Gets a single profile",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProfileDetail"
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "put": {
        "operationId": "profile_update",
        "summary": "Update profile",
        "description": "Updates the specified profile, excluding ID, team and public id.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfileDetail"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProfileDetail"
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "patch": {
        "operationId": "profile_partial_update",
        "summary": "Partial Update",
        "description": "Performs a partial update",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfileDetail"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProfileDetail"
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "delete": {
        "operationId": "profile_delete",
        "summary": "Delete Profile",
        "description": "Deletes the specified profile, if created by the app.",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "profile"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{public_id}/challenge/": {
      "get": {
        "operationId": "profile_challenge",
        "summary": "Challenge",
        "description": "Provides a list of challenges where the profile can participate and is already participating in.\n\nThis endpoint returns a list of objects.\n",
        "parameters": [
          {
            "name": "recent",
            "in": "query",
            "description": "Show challenges that have not ended in the last N weeks",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Only return challenges that are active after this time\n\nNote: this only affects challenges that are not joined.\n\nDefaults to now",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-nullable": true
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Only return challenges that are active before this time\n\nNote: this only affects challenges that are not joined.\n\nDefaults to now",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProfileChallengeList"
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{public_id}/challenges/": {
      "get": {
        "operationId": "profile_challenges",
        "description": "This docstring is used by Django Rest Framework",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProfileChallengeList"
            }
          }
        },
        "tags": [
          "profile"
        ]
      },
      "parameters": [
        {
          "name": "public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/profile/{public_id}/connections/": {
      "get": {
        "operationId": "profile_connections",
        "summary": "Connections",
        "description": "Lists the connections available for a profile and their \"state\".\nThis endpoint returns a list of objects.\n",
        "parameters": [
          {
            "name": "redirect",
            "in": "query",
            "description": "After connecting redirect back to this url.\n\nNote: has to be a valid http url. For deeplinks (to apps) first redirect to your own backend and then deeplink from there.\n\nNote: the user is only redirected on a successfull connection, otherwise an error screen is shown. (see redirect_on_error to change this)\n\nNote: if this parameter is omitted, then user will see a generic success screen.",
            "required": false,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "redirect_on_error",
            "in": "query",
            "description": "If enabled, then user will also be redirected to the redirect url if an error occurs\n\nNote: a query parameter 'error' is added to the redirect url. Possible values are access_denied, unknown. New values may be added at anytime\n\nNote: for backwards compatibility the default is false, but this will be changed in the next breaking release",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProfileAppConnectionList"
            }
          }
        },
        "tags": [
          "profile"
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/team/": {
      "get": {
        "operationId": "team_list",
        "summary": "List Teams",
        "description": "List all available teams",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TeamList"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "team"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "post": {
        "operationId": "team_create",
        "summary": "Create Team",
        "description": "Creates a new team",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TeamDetail"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TeamDetail"
            }
          }
        },
        "tags": [
          "team"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "parameters": []
    },
    "/team/{public_id}/": {
      "get": {
        "operationId": "team_read",
        "summary": "Team",
        "description": "Get a single team",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TeamDetail"
            }
          }
        },
        "tags": [
          "team"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "put": {
        "operationId": "team_update",
        "summary": "Edit Team",
        "description": "Creates a new team",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TeamDetail"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TeamDetail"
            }
          }
        },
        "tags": [
          "team"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "patch": {
        "operationId": "team_partial_update",
        "summary": "Partial Edit a Team",
        "description": "Creates a new team",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TeamDetail"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TeamDetail"
            }
          }
        },
        "tags": [
          "team"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "delete": {
        "operationId": "team_delete",
        "summary": "Deletes a Team",
        "description": "Deletes an existing team",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "team"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/team/{public_id}/member/": {
      "post": {
        "operationId": "team_member_create",
        "summary": "Add member",
        "description": "Add member to a team",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfileAsProfilePublicId"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProfileAsProfilePublicId"
            }
          }
        },
        "tags": [
          "team"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "put": {
        "operationId": "team_member_update",
        "summary": "Add member",
        "description": "Add member to a team",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfileAsProfilePublicId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProfileAsProfilePublicId"
            }
          }
        },
        "tags": [
          "team"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "delete": {
        "operationId": "team_member_delete",
        "summary": "Remove member",
        "description": "Remove a member from the team",
        "parameters": [
          {
            "name": "profile",
            "in": "query",
            "description": "A profile public_id is expected",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "team"
        ],
        "security": [
          {
            "BearerAdmin": []
          },
          {
            "BearerProfile": []
          }
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/team/{public_id}/members/": {
      "post": {
        "operationId": "team_members_create",
        "summary": "Add members",
        "description": "Add members to a team",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfilePublicIdsList"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProfilePublicIdsList"
            }
          }
        },
        "tags": [
          "team"
        ],
        "security": [
          {
            "BearerAdmin": []
          }
        ],
        "deprecated": false
      },
      "put": {
        "operationId": "team_members_update",
        "summary": "Add members",
        "description": "Add members to a team",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfilePublicIdsList"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProfilePublicIdsList"
            }
          }
        },
        "tags": [
          "team"
        ],
        "security": [
          {
            "BearerAdmin": []
          }
        ],
        "deprecated": false
      },
      "parameters": [
        {
          "name": "public_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
[...]
